%h1 Newsletters
- @newsletters.each do |newsletter|
  %span
    = link_to newsletter.title, "/newsletters/#{newsletter.hash_id}"
    |
    = link_to 'Delete', newsletter, method: :delete
  %br

%a{href: "/newsletters/new"} Add new newsletter
