%h1 Newsletters
- @newsletters.each do |newsletter|
  %span
    %a{href: "/newsletter/#{newsletter.id}"}= newsletter.title
    |
    = link_to 'Delete', newsletter, method: :delete
  %br

%a{href: "/newsletters/new"} Add new newsletter
