# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e31e024ff3d235d6ac266d1fa97542467db41bfe72c1e829ef24116dca48d69fa0b7fe5277b590d0f723162fe8cfa5863f649fb888cf80f8db0e4bc7b48ad7f6

test:
  secret_key_base: d2a7f2b3638dd48bfdf8686892ce6b05cc4617102e126d123c3b946f31dd3112ba701e356ebf44e7ad3f6e6296e4a365d0e5845facb0be519d0706aae8a36609

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
